<ion-view view-title="Debt">
    <div class="bar bar-subheader">
        <a class="tab-item" href="#/tab/debt"><i class="icon ion-social-usd balanced"></i></a>
        <a class="tab-item"></a>
        <a class="tab-item" href="#/tab/loan"><i class="icon ion-cash balanced"></i></a>
    </div> 
  <ion-content class="has-subheader">
     
    <div class="list">
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
      <label class="item item-input"> 
          <span class="input-label">Simon Keisala</span>
          <span class="input-label">16/01/12</span>
          <span class="input-label">150.-</span>
      </label>
    </div>
  </ion-content>
</ion-view>
