<ion-view view-title="Loan">
  <div class="bar bar-subheader">
        <a class="tab-item" href="#/tab/debt"><i class="icon ion-social-usd balanced"></i></a>
        <a class="tab-item"></a>
        <a class="tab-item" href="#/tab/loan"><i class="icon ion-cash balanced"></i></a>
    </div>
  <ion-content class="has-subheader">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Amount">
      </label>
      <label class="item item-button">
        <button type="" class="button button-block button-balanced">Add loan</button>
      </label>
    </div>
  </ion-content>
</ion-view>
